.arrow-down {
    text-align: center;
    width: 50%;
    height: 12%;
    margin: 0 auto;
    z-index: 2;
    background: transparent;
    bottom: 90px;
    left: 0;
    right: 0;
    position: absolute;

}

.arrow-up {
    padding-bottom: 100px;
    padding-top: 30px;
    text-align: center;

}

.fa {
    color: #eeeeee;
}

#camera::before {
    color: #f06a59;
}

#text {
    color: cadetblue;
}

#quote {
    color: #fcb052;
}

#music {
    color: forestgreen;
}

.img {
   display: inline-block;
    width: 25%;
}

.link {
    display: inline-block;
}

#or {
    text-align: center;
    line-height: 8;
}

.right {
    float: right;
    margin-top: 3%;
    padding-right: 10px;
}

.left {
    float: left;
    margin-top: 3%;
    padding-left: 10px;
}

.placeholder {
    width: 100%;
    height: 35%;
    border: solid darkslategrey 1px;
    display: table;
    margin: 0 auto;
    background-color: whitesmoke;
}

.colorPrev {
    border: solid black 1px;
    width: 100px;
    height: 100px;

}
